@charset "UTF-8";

* {
    box-sizing: border-box;
}

.sub {
	width: 100%;
	height: 185px;
	position: relative;
}

.sub .mainImg {
	width: 100%;
	height: 100%;
}

.mainImg {
	position: relative;
}

.mainImg>img {
	width: 100%;
	height: 100%;
}

.sub h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
	color: white;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}


h2 {
	text-align: left;
	margin: 300px;
	font-size: 23px;
	padding-left: 270px;
	padding-top: 40px;
	margin: 0 auto;	
	top: 200px;
}

.container {
	text-align: center;
    margin: 0 auto;
    padding-top: 30px;
	margin:0 50px;
}

.click {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 60px;
}

.click-row {
	display: flex;
	border: 3px solid;
	font-weight: bold;
	flex-wrap: nowrap;
	border-radius: 20px;
    padding: 5px 30px;
	cursor: pointer;	
}

.click-row:first-child{
	border: 3px solid #604206;
	background-color: white;
	color: #683A0D;
}

.click-row:nth-child(2){
	border: 3px solid #286d79;
	background-color: white;
	color: #286d79;
}

.click-row:nth-child(3){
	border: 3px solid #14489c;
	background-color: white;
	color: #14489c;
}

.click-row:last-child{
	border: 3px solid #b6383d;
	background-color: white;
	color: #b6383d;
}


.click-row:first-child:hover {
	background-color: #683A0D;
	color: white;
}

.click-row:nth-child(2):hover {
	background-color: #286d79;
	color: white;
}

.click-row:nth-child(3):hover {
	background-color: #14489c;
	color: white;
}

.click-row:last-child:hover {
	background-color: #b6383d;
	color: white;
}

.date-wrap {
    width: 360px;
    margin: 0 auto;
    height: 500px;
}

.date-wrap .date-month {
    display: flex;
	padding-top: 30px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.month-move {
	border: none;
	background-color: transparent;
	font-weight: 700;
    font-size: 48px;
	cursor : pointer; 
}

.month-move:hover {
	color: #ed2a61;
}

#month-prev {
	padding-right: 30px;
}

#month-next {
	padding-left: 30px;
}


/*
.date-wrap .date-month .month-this {
    width: 300px;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 78px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

*/
