@charset "UTF-8";

*{
    font-family: "Noto Sans KR";
}

#footer_more_top{
    width: 100%;
    height: 40px;
}


#footer{
    background-color: #F8F8F8;
    color: #666666;
    display: flex;
    justify-content:space-between;

    padding-bottom: 20px;
}
#footer_text{
    padding-top: 90px;
}
