@charset "UTF-8";

body {
	background-color: rgb(215, 230, 240);
	padding-top: 50px;
}

* {
	font-family: "Noto Snas KR";
}

/* 전체 화면 3분할*/
#divfull {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	margin-top: 20px;
}

.centerDiv {
	display: flex;
	justify-content: center;
}

/* 그리드 3개 중 왼쪽 그리드*/
#leftDiv {
	margin-right: 80px;
	padding-left: 50px;
	padding-bottom: 10px;
}

#left1 {
	display: flex;
	flex-direction: row;
	padding-bottom: 50px;
}

.leftImg {
	margin-right: 10px;
}

#left2 {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

#left3 {
	margin-top: 140px;
}

#left4 {
	margin-top: 17px;
	border: 2px solid #939393;
	display: flex;
	flex-direction: column;
	width: 61%;
	padding: 10px;
}

#centerImg {
	padding-top: 100px;
}

.rightDiv {
	margin-left: 80px;
	padding-right: 50px;
}

#right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 102px;
}

.right_image {
	margin-left: 10px;
}

#palaceImg {
	width: 300px;
	height: 180px;
}

#palaceImg_Main {
	width: 300px;
	height: auto;
}

.main {
	width: 100%;
}

.main_plus {
	display: flex;
}

.main_name {
	width: 100%;
	font-weight: bold;
}

.material-symbols-outlined {
	vertical-align: middle;
	margin-bottom: 3px;
	font-size: 21px;
}

.main_icon {
	margin-left: 130px;
}

.icon {
	vertical-align: middle;
	margin-bottom: 3px;
	width: 19%;
}

.introduce {
	margin-top: 20px;
	width: 100%;
	font-size: 14px;
	color: rgb(3, 40, 69);
	width: 100%;
	font-weight: 900;
}

/* 궁 여행 */
.palace_tour {
	font-weight: bold;
}

.tour_intro {
	margin-top: 10px;
	width: 100%;
	font-size: 14px;
	color: rgb(3, 40, 69);
	font-weight: 900;
}

/* Tip */
.tip {
	font-weight: bold;
	width: 100%;
}

.tip_intro {
	margin-top: 10px;
	width: 100%;
	font-size: 14px;
	color: rgb(3, 40, 69);
	font-weight: 900;
}