<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ezen.royal.client.mypage.mapper.MypageMapper">


	<select id="getSelectedmypageDTO"
		resultType="com.ezen.royal.client.mypage.dto.MypageDTO">
		SELECT member_name, member_type from member where social_id = #{social_id}
	</select>
	
	<select id="reservList"
		resultType="com.ezen.royal.client.mypage.dto.MypageDTO">
		SELECT *from reservation;
	</select>
	
	<select id="qnaList"
		resultType="com.ezen.royal.client.mypage.dto.MypageDTO">
		SELECT qna_id ,qna_title, qna_content, qna_date, qna_result from qna where member_id = #{social_id}
	</select>

</mapper>