<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.royal.manager.mapper.FaqManageMapper">

	<!-- 모든 FAQ 목록 (카테고리별 정렬) -->
	<select id="getFAQList" resultType="com.ezen.royal.manager.dto.FAQManageDTO">
		SELECT * FROM faq ORDER BY faq_royal_id`
	</select>
	<!-- FAQ 상세 -->
	<select id="getFAQResult" resultType="com.ezen.royal.manager.dto.FAQManageDTO">
		SELECT * FROM faq WHERE faq_id=#{faq_id}
	</select>
	
	<!-- FAQ 추가 -->
	<insert id="insertFAQ">
		INSERT INTO faq(
			faq_id,
			faq_royal_id,
			faq_title,
			faq_result
		)VALUES(
			faq_id_seq.nextval,
			#{faq_royal_id},
			#{faq_title},
			#{faq_result}
		)
	</insert>
	
	<!-- FAQ 수정 -->
	<update id="updateFAQ">
		UPDATE faq SET
			faq_royal_id=#{faq_royal_id},
			faq_title=#{faq_title},
			faq_result=#{faq_result}
		WHERE
			faq_id=#{faq_id}
	</update>
	
	<!-- FAQ 삭제 -->
	<delete id="deleteFAQ">
		DELETE FROM faq WHERE faq_id=#{delete_id}
	</delete>
	
</mapper>