<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ezen.royal.client.reservation.mapper.ReservationMapper">

    <!-- 해당 event_id에 대한 해설 목록을 가져온다 -->
    <select id="findCommentaryDTOList" resultType="com.ezen.royal.client.reservation.dto.SelectedCommentaryDTO">
        SELECT *
        FROM event_round
        WHERE event_id = #{event_id}
    </select>
    
    
	<!-- 예약페이지에 필요한 데이터를 list<DTO>로 가져온다-->
	<select id="getSelectedCommentaryDTOList" resultType="com.ezen.royal.client.reservation.dto.SelectedCommentaryDTO">
		
	</select> 

	<!-- 예약등록 -->
	<insert id="regReservation">
		INSERT INTO reservation (
			resv_id,
			event_id,
			member_id,
			resv_num,
			<!-- resv_date, -->
			resv_people,
			resv_eventdate,
			round_num
		) VALUES (
			resv_id_seq.nextval,
			#{event_id},
			#{member_id},
			#{resv_num},
			#{resv_people},
			#{resv_eventdate},
			#{round_num}
		)
	</insert>
</mapper>