@charset "UTF-8";

*{
    font-family: "Noto Snas KR";
}


.contents_sub {
    font-size: 144px;
    font-weight: bold;
}

.sub_visual {
    width: 100%;
    height: 185px;
    position: relative;
}

.sub_visual .img_wrap{
    width: 100%;
    height: 100%;
}

.img_wrap > img {
    width: 100%;
    height: 100%;
}

.sub_visual .txt_wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_tit_wrap .sub_tit, .sub_visual .sub_tit {
    color: #fff;
    font-size: 2.250rem;
    font-weight: bold;
}

.inner {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto 50px;
    padding: 0 15px;
}

.lnb_wrap{
    grid-column-start: 1;
}
.right-container{
    grid-column-start: 2;
    margin: 20px;
}

.right-container .royal-name{
    width: 80%;
}

.map{
    width: 80%;
    height: 500px;
}
.royal-name {
    padding-right: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.royal-name > div {
    width: 130px;
    height: 40px;
    padding: 3px ;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center; 
}

.GB_BTN{
    border: 3px solid #604206;
    border-radius: 20px;
    color: #604206;
}

.DS_BTN{
    border: 3px solid #286d79;
    border-radius: 20px;
    color: #286d79;
}


.CG_BTN{
    border: 3px solid #14489c;
    border-radius: 20px;
    color: #14489c;
}


.CD_BTN{
    border: 3px solid #b6383d;
    border-radius: 20px;
    color: #b6383d;
}


.JM_BTN{
    border: 3px solid #c14b35;
    border-radius: 20px;
    color: #c14b35;
}