@charset "UTF-8";

/* royal-name 섹션 */
.royal-name {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    text-align: center;
    gap: 10px;
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
}

.royal-name > a {
    border: 1px solid transparent;
    border-radius: 20px;
    text-align: center;
}

.royal-name > :first-child {
    border: 3px solid #604206;
    border-radius: 20px;
}
.royal-name > :nth-child(2) {
    border: 3px solid #286d79;
    border-radius: 20px;
}
.royal-name > :nth-child(3) {
    border: 3px solid #14489c;
    border-radius: 20px;
}
.royal-name > :nth-child(4) {
    border: 3px solid #b6383d;
    border-radius: 20px;
}
.royal-name > :nth-child(5) {
    border: 3px solid #c14b35;
    border-radius: 20px;
}

/* contents_sub 섹션 */
.contents_sub .contents_inn {
    width: 100%;
    padding-top: 80px;
}

.contents_sub .inner {
    display: flex;
}

.contents_sub {
    font-size: 3.000rem;
    font-weight: bold;
}

/* sub_visual 섹션 */
.sub {
	width: 100%;
	height: 185px;
	position: relative;
}

.sub .mainImg {
	width: 100%;
	height: 100%;
}

.mainImg {
	position: relative;
}

.mainImg>img {
	width: 100%;
	height: 100%;
}

.sub .sub_tit {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
	color: white;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}



/* a 링크 섹션*/
a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #2980b9;
}

/* sub_txt_wrap 섹션 */
.contents_sub {
    font-size: 0.938rem;
    color: #333;
    line-height: +1.5;
    margin-bottom: 20px;
}

/* inner 섹션*/
.contents_sub .inner {
    display: flex;
}

.inner {
    width: 1430px;
    max-width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}
