@charset "UTF-8";


.contents_sub #lnbInclude+.contents_inn, .contents_sub .lnb_wrap+.contents_inn {
    width: calc(100% - 390px);
}

.contents_sub .contents_inn {
    width: 100%;
    padding-top: 80px;
}


.contents_sub .inner {
    display: flex;
}


.contents_sub .sub_tit_wrap .tit {
    font-size: 3.000rem;
    font-weight: bold;
}


.sub_visual {
    width: 100%;
    height: 185px;
    position: relative;
}

.sub_visual .txt_wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_tit_wrap .sub_tit, .sub_visual .sub_tit {
    color: #fff;
    font-size: 2.250rem;
    font-weight: bold;
}

.contents_sub .sub_tit_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}


.txt_wrap {
    font-size: 1rem;
    color: #444;
    line-height: +1.25;
}


.contents_sub .sub_txt_wrap {
    font-size: 0.938rem;
    color: #333;
    line-height: +1.5;
    margin-bottom: 20px;
}


.inner {
    width: 1430px;
    max-width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}

.contents_sub .inner {
    display: flex;
}