<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ezen.royal.client.communication.mapper.NoticeMapper">

	<select id="getAll" resultType="com.ezen.royal.client.communication.dto.NoticeDTO"> 
		SELECT * FROM notice ORDER BY notice_id DESC
	</select> 
	 
	<select id="get" resultType="com.ezen.royal.client.communication.dto.NoticeDTO"> 
		SELECT * FROM notice WHERE notice_id=#{notice_id} </select> 

	<select id="getPartAll"
		resultType="com.ezen.royal.client.communication.dto.NoticeDTO">
		SELECT * FROM notice WHERE royal_id = #{royal_id} ORDER BY
		notice_id DESC
	</select>

	<select id="search"
		resultType="com.ezen.royal.client.communication.dto.NoticeDTO">
		SELECT * FROM notice
		WHERE ${type} LIKE '%' ||
		#{searchString} || '%'
	</select>

	<select id="searchAll"
		resultType="com.ezen.royal.client.communication.dto.NoticeDTO">
		SELECT * FROM notice
		WHERE notice_content LIKE '%' ||
		#{searchString} || '%' AND notice_title
		LIKE '%' || #{searchString} ||
		'%'
	</select>

	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM notice
			<if test="royal_id != null and royal_id != ''">
                WHERE royal_id = #{royal_id}
            </if>
	</select>

	<!-- 페이징 처리된 후 게시글 조회 -->
	<select id="selectBoardList" resultType="com.ezen.royal.client.communication.dto.NoticeDTO">
		<!-- SELECT * FROM (
		SELECT n.*, ROWNUM AS num FROM notice n ORDER BY notice_id DESC
		) WHERE num BETWEEN 1 AND 5 -->
		 SELECT * FROM 
		 	(
		 	SELECT n.*, ROWNUM num FROM 
		 		notice n 
		 	WHERE 1 = 1
            <if test="royal_id != null and royal_id != ''">
                AND royal_id = #{royal_id}
            </if>
		 	ORDER BY notice_id DESC
		 	)
		 WHERE 
		 	num BETWEEN #{start} AND #{end} 
		
	</select>



</mapper>