<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ezen.royal.client.communication.mapper.QnaMapper">
	<insert id="insert" parameterType="com.ezen.royal.client.communication.dto.QnaDTO">
		INSERT INTO qna(
			qna_id,
			member_id,
			royal_id,
			qna_title,
			qna_content
		)VALUES(
			qna_id_seq.nextval,
			#{member_id},
			#{royal_id},
			#{qna_title},
			#{qna_content}
		)
	</insert>


	<select id="getMemberId">
		SELECT member_id FROM member WHERE social_id=#{social_id}
	</select>
</mapper>