@charset "UTF-8";

* {
	font-family: "Noto Sans KR";
}


/* banner css */
.sub {
	width: 100%;
	height: 185px;
	position: relative;
}
.sub .mainImg {
	width: 100%;
	height: 100%;
}
.mainImg {
	position: relative;
}
.mainImg>img {
	width: 100%;
	height: 100%;
}
.sub h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
	color: white;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* inner css */
.inner {
	width: 1030px;
	max-width: 100%;
	height: auto;
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
}

/* resv_title css */
#resv_title {
    margin: 80px 0 10px 0;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    min-width: 900px;
}
#resv_title_sub {
    font-weight: 900;
    font-size: 17px;
    padding-left: 3px;
	margin-bottom: 20px;
}

/* royalNames css */
#royalNames {
	width: 100%;
    height: auto;
    padding-right: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    min-width: 900px;
}
.royalname {
    width: 130px;
    height: 40px;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
	border-radius: 20px;
}
#white_space {
	width: 100%;
	height: 40px;
	border-bottom: solid 1px #EAEAEA;
	margin-bottom: 50px;
}
.royalname:first-child{
	border: 3px solid #604206;
	background-color: white;
	color: #683A0D;
}
.royalname:nth-child(2){
	border: 3px solid #286d79;
	background-color: white;
	color: #286d79;
}
.royalname:nth-child(3){
	border: 3px solid #14489c;
	background-color: white;
	color: #14489c;
}
.royalname:nth-child(4){
	border: 3px solid #b6383d;
	background-color: white;
	color: #b6383d;
}
.royalname:last-child{
	border: 3px solid #c14b35;
	background-color: white;
	color: #c14b35;
}
.royalname:first-child:hover {
	background-color: #683A0D;
	color: white;
	cursor: pointer;
}
.royalname:nth-child(2):hover {
	background-color: #286d79;
	color: white;
	cursor: pointer;
}
.royalname:nth-child(3):hover {
	background-color: #14489c;
	color: white;
	cursor: pointer;
}
.royalname:nth-child(4):hover {
	background-color: #b6383d;
	color: white;
	cursor: pointer;
}
.royalname:last-child:hover {
	background-color: #c14b35;
	color: white;
	cursor: pointer;
}
/*  royal_id  active/deactive  */
#gbBtn_active{
	background-color: #683A0D;
	color: white;
}
#dsBtn_active{
	background-color: #286d79;
	color: white;
}
#chBtn_active{
	background-color: #14489c;
	color: white;
}
#cdBtn_active{
	background-color: #b6383d;
	color: white;
}
#gmBtn_active{
	background-color: #c14b35;
	color: white;
}


/* select resvDate css*/
.list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
	gap: 30px;
	height: 40;
}
#resv_subTitle {
	font-size: 21px;
	font-weight: 900;
	flex-direction: row;
	margin-bottom: 20px;
}
.click-date{
	display: flex;
	flex-direction: column;
}
/* datepicker css */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    height: 45px;
}
.ui-datepicker{ 
	font-size: 20px; 
	width: 100%;
	height: 340px;
};
.commentary-list{
	display: flex;
	flex-direction: column;
}
#event_round_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.allEventRound {
    height: 33px;
    text-align: center;
    font-size: 15px;
    border-bottom: solid 1px #CECECE;
    padding-top: 5px;
}
.eventRoundHeader {
    font-weight: bold;
    border-top: 2px solid black;
    background-color: #F2F2F2;
    padding-top: 5px;
    height: 33px;
}
.eventRoundBtn {
    width: 80px;
    height: 24px;
	border-radius: 20px;
    border: none;
    font-size: 12px;
    font-weight: 900;
    color: white;
}
.default_event_round{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 340px;
}
.default_event_round_img {
	width: 100px;
	margin-bottom: 12px;
}
.default_event_round_text {
	font-weight: 900;
	font-size: 15px;
	color: gray;
}
.activeBtn{
	background-color: white;
	border: 2px solid #1653BC;
	color: #1653BC;
}
.activeBtn:active {
	background-color: #1653BC;
	color: white;
}
.deactiveBtn{
	background-color: gray;
		pointer-events : none;
}



#white_space_middle {
	height: 40px;
}
/*     bottom css       */
.allInfo {
    height: 50px;
    padding-top: 14px;
    padding-left: 13px;
    font-size: 14px;
    border-bottom: solid 1px #CECECE;
}
.info {
	display: grid;
	grid-template-columns: 20% 80%;
	border-top: 2px solid black;
}
.info_title {
	background-color: #F2F2F2;
}
.info_content {
	background-color: white;
	font-weight: 900;
}
.agree_tit {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 15px;
}
.agree_box .agree_txt_box {
	width: 100%;
	height: 160px;
	padding: 30px 20px;
	background: #F2F2F2;
	overflow-y: auto;
}
#dividingLine {
	height: 37px;
    border-bottom: 1px solid #CECECE;
}
.resevBtn {
	margin-top: 52px;
	text-align: center;
}
#finalResvBtn {
    width: 127px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 19px;
	cursor: pointer;
}
#finalResvBtn:active {
	background-color: white;
	color: black;
	border: 2px solid black;
}

.ui-widget-header {
    border: none;
    background: transparent;
    color: #333333;
    font-weight: bold;
}