@charset "UTF-8";

* {
	font-family: "Noto Sans KR";
}

.sub {
	width: 100%;
	height: 185px;
	position: relative;
}

.sub .mainImg {
	width: 100%;
	height: 100%;
}

.mainImg {
	position: relative;
}

.mainImg>img {
	width: 100%;
	height: 100%;
}

.sub h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
	color: white;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	text-align: center;
    margin: 0 auto;
	margin:0 50px;
}

#royalNames {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
    margin: 0 60px;
    padding-top: 29px;
}

.royalname {
	display: flex;
	border: 3px solid;
	font-weight: bold;
	text-align: center;
	flex-wrap: nowrap;
	padding: 5px 30px;
	cursor: pointer;
	border-radius: 20px;
}

.royalname:first-child{
	border: 3px solid #604206;
	background-color: white;
	color: #683A0D;
}

.royalname:nth-child(2){
	border: 3px solid #286d79;
	background-color: white;
	color: #286d79;
}

.royalname:nth-child(3){
	border: 3px solid #14489c;
	background-color: white;
	color: #14489c;
}

.royalname:nth-child(4){
	border: 3px solid #b6383d;
	background-color: white;
	color: #b6383d;
}

.royalname:last-child{
	border: 3px solid #c14b35;
	background-color: white;
	color: #c14b35;
}


.royalname:first-child:hover {
	background-color: #683A0D;
	color: white;
}

.royalname:nth-child(2):hover {
	background-color: #286d79;
	color: white;
}

.royalname:nth-child(3):hover {
	background-color: #14489c;
	color: white;
}

.royalname:nth-child(4):hover {
	background-color: #b6383d;
	color: white;
}

.royalname:last-child:hover {
	background-color: #b6383d;
	color: white;
}

.sub-heading {
	text-align: left;
	margin: 300px;
	font-size: 23px;
	padding-left: 270px;
	padding-top: 40px;
	margin: 0 auto;	
	top: 200px;
}

.sub-bottom {
	display: block;
	padding-left: 270px;
	font-size: 15px;
	text-align: justify;
}


.list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
	margin: 30px;
}

.click-date{
	border: 1px solid black;
	display: grid;
    gap: 10px;
}

.commentary-list{
	border: 1px solid black;
	display: grid;
    gap: 10px;
}
.eventRoundTH{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.eventRoundTD{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.activeBtn{
	background-color: blue;

}
.deactiveBtn{
	background-color: gray;
		pointer-events : none;
}

/*      royal_id  active / deactive           */

#gbBtn_active{
	background-color: #683A0D;
	color: white;
}

#dsBtn_active{
	background-color: #286d79;
	color: white;
}

#chBtn_active{
	background-color: #14489c;
	color: white;
}

#cdBtn_active{
	background-color: #b6383d;
	color: white;
}

#gmBtn_active{
	background-color: #b6383d;
	color: white;
}


#event_round_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.eventRoundHeader {
	font-weight: bold;
}