.title {
  margin-left: 10%;
}

/* 기본 스타일 */
.outer {
  position: relative;
  /* width: 100%; */
  max-width: 1214px;
  max-height: 392px;
  margin: 0 auto;
  overflow: hidden;
}

.inner-list {
  display: flex;
  transition: 0.5s ease-out;
  height: 100%;
}

.inner {
  box-sizing: border-box;
  width: 100%;
}

.inner img {
  width: 100%;
  height: 392px;
  margin: 0 auto;
  display: block;
}

.button1 a.back {
  left: 0px;
}
.button1 a.next {
  right: 0px;
}

.button1 a {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #000000;
  color: #fff;
  transition: all 0.3s ease;
}

.button1 a:hover {
  border-radius: 50%;
  background-color: black;
  color: #fff;
}

/* 반응형 스타일 */
@media (max-width: 767px) {
  .inner-list {
    flex-direction: row; /* 화면이 작을 때 세로로 배치 */
  }

  .inner {
    width: 100%;
    height: 100%;
  }

  .button1 a {
    top: auto; /* 예시로 조절, 필요에 따라 변경 가능 */
  }
}



/* ---------- 메인 공지사항 CSS ---------- */

.body * {
  box-sizing: border-box;
}

.title_top {
  margin-left: 150px;
  border-bottom: solid black 1px;
}
.all {
  margin-left: 5%;
}

.list {
  margin-left: 120px;
}

.layout .notice {
  width: 50%;
  position: relative;
  margin-right: 50px;
}

.notice_title {
  display: inline-flex;
  align-items: center;
  font-size: 35px;
}

.notice .item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}