@charset "UTF-8";

.notice_title_div {
	
}

.sub_con_section {
	padding-top: 55px;
}

.sub_con_section .txt_section_tit {
	font-weight: bold;
	font-size: 1.625rem;
	margin-bottom: 50px;
	position: relative;
}

.bd_wrap {
	border-top: solid 2px #0a134f;
	border-bottom: solid 1px #aeaeae;
}

.faq_list .q_item {
	display: flex;
	width: 100%;
	font-size: 1.125rem;
	position: relative;
}

.wrap {
	width: 100%;
}

body * {
	box-sizing: border-box;
}

.contents_wrap {
	padding: 180px 0 0 80px;
}

.contents_sub .inner {
	display: flex;
}

.inner {
	width: 1030px;
	max-width: 100%;
	height: auto;
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
}

.faq-result {
	display: flex;
	align-content: flex-start;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
} 

.q_item {
	display: flex;
	border-bottom: solid 2px black;
	padding-top: 50px;
	padding-bottom: 50px
}

.contents_sub #lnbInclude+.contents_inn, .contents_sub .lnb_wrap+.contents_inn
	{
	width: calc(100% - 390px);
}

.contents_sub .contents_inn {
	width: 100%;
	padding-top: 80px;
}

body * {
	box-sizing: border-box;
}

:visited, body * {
	color: inherit;
	font-family: inherit;
	padding: 0;
	margin: 0;
}

/* qna css 영역 */
.tit {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* 새로운 디자인 추가 */
/* 웹 페이지의 CSS 파일 */
.qna_box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qna_box .top {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.qna_box .top .tit_wrap {
    display: flex;
    align-items: center;
    margin: 10px 0; /* 제목과 아이콘 간격 수정 */
}

.qna_box .top .tit_wrap .ic_q {
    margin-right: 10px;
}

.qna_box .top .tit_wrap .tit {
    font-size: 24px; 
    font-weight: bold; 
}

.input_wrap {
    margin-top: 20px; 
}

.input_wrap form {
    display: flex;
    flex-direction: column;
}

.input_wrap form input[type="text"],
.input_wrap form select,
.input_wrap form textarea {
    margin-bottom: 15px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input_wrap form select {
    width: 50%; 
    margin-bottom: 15px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input_wrap form textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none; /* 사용자 크기 조정 비활성화 */
    margin-bottom: 15px; /* 입력 요소들 간의 간격 조정 */
}

.input_wrap form .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input_wrap form .btn:hover {
    background-color: #0056b3;
}





/* js를 간소화 시키기 위한 css */
.hidden {
    display: none;
}

