@charset "UTF-8";
*{
    font-family: "Noto Snas KR";
}


#notice_title_div{
    border-bottom: 3px solid black;
}

#notice_title{
    margin-bottom: 20px;
}

.board_wrap_list{
    padding: 0 450px;

}

#board_detail_title{
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #EAEAEA;
    padding: 8px;

}

#board_detail_info{
    color: #666666;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #EAEAEA;
    padding: 10px 0;
    text-align: center;
}

#board_detail_info > div:first-child{
    padding-left: 8px;
    padding-right: 15px;
}

#board_detail_info > div:nth-child(2){
    padding-left: 15px;
}

#board_detail_info > div> img{
    width: 25px;
    height: auto;
    padding-bottom: 5px;
}

#board_detail_info > div> span{
    display: flex;
    justify-content: center;
}

#board_detail_cotent{
    padding: 60px;
    font-size: 18px;
    vertical-align: baseline;
    line-height: +1.3;
    font-weight: 400;
    border-bottom: 3px solid black;
}

.BTN_class{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.goList{
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
    width: 130px;
    height: 50px;

}