@charset "UTF-8";
*{
    font-family: "Noto Snas KR";
}

.board_wrap{
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.board_wrap_layout{
    background: #F8F8F8;
    border-top: 3px solid black;
    border-bottom: solid 1px #EAEAEA; 
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 23% 44% 23%;
    padding: 10px;
    width: 100%;
   
}

.board_wrap_list{
    border-bottom: solid 1px #EAEAEA; 
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 23% 44% 23%;
    padding: 5px;
    width: 100%;
}

.bottom_paging{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.bottom_paging > a{
    padding-left: 15px;
}