@charset "UTF-8";

*{
    font-family: "Noto Snas KR";
}

.top_img_name{
    width: 100%;
    margin: 10px auto;
    position: relative;
}
#top_bg_Img{
    width: 100%;
    vertical-align: middle;
}

#sub_category_name{
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 


#notice_title{
    padding-left: 180px;
    font-size: 36px;
}

.BTN_class{
    width: 100%;
    height: 35px;
    margin : 5px;
    padding-right: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #EAEAEA;
    
}

.BTN_class > div > a{
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    border-radius: 20px;
    padding: 5px 35px; 
}

#all_BTN{
    border: 3px solid transparent;
    border-radius: 20px;
    background-color: #ffffff;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right,#C1457E, rgb(152, 133, 195),#1B66B9);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#all_BTN > a{
    color: #815295;
}
