@charset "UTF-8";

*{
    font-family: "Noto Snas KR";
}

.top_img_name{
    width: 100%;
    margin: 10px auto;
    position: relative;
}
#top_bg_Img{
    width: 100%;
    vertical-align: middle;
}

#sub_category_name{
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 


#notice_title{
    padding-left: 180px;
    font-size: 36px;
}

.BTN_class{
    width: 100%;
    height: auto;
    margin : 5px;
    padding-right: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.BTN_class > div {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    padding: 3px;
}

.BTN_class > div > a{
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    border-radius: 20px; 
}

#all_BTN{
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #ffffff;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right,#C1457E, rgb(152, 133, 195),#1B66B9);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#all_BTN > a{
    color: #815295;
}

#GB_BTN{
    border: 3px solid #604206;
    border-radius: 20px;
    background-color: #ffffff;
}

#GB_BTN > a{
    color: #604206;
    margin: 0 5px 0 5px;
}

#DS_BTN{
    border: 3px solid #286d79;
    border-radius: 20px;
    background-color: #ffffff;
}

#DS_BTN > a{
    color: #286d79;
}

#CG_BTN{
    border: 3px solid #14489c;
    border-radius: 20px;
    background-color: #ffffff;
}

#CG_BTN > a{
    color: #14489c;
}

#CD_BTN{
    border: 3px solid #b6383d;
    border-radius: 20px;
    background-color: #ffffff;
}

#CD_BTN > a{
    color: #b6383d;
}

#JM_BTN{
    border: 3px solid #c14b35;
    border-radius: 20px;
    background-color: #ffffff;
}

#JM_BTN > a{
    color: #c14b35;
}

#white_space{
    height: 15px;
    border-bottom: solid 1px #EAEAEA;
}
